[submodule "libs/ofxJSON"]
	path = libs/ofxJSON
	url = git@github.com:lumoslabs/ofxJSON.git
[submodule "libs/iOS/OpenUDID"]
	path = libs/iOS/OpenUDID
	url = git@github.com:lumoslabs/OpenUDID.git
[submodule "libs/iOS/uidevice-extension"]
	path = libs/iOS/uidevice-extension
	url = git@github.com:lumoslabs/uidevice-extension.git
[submodule "libs/iOS/Light-Untar"]
	path = libs/iOS/Light-Untar
	url = git@github.com:lumoslabs/Light-Untar-for-iOS.git
[submodule "libs/iOS/SSZipArchive"]
	path = libs/iOS/SSZipArchive
	url = git@github.com:lumoslabs/ssziparchive.git
