#include "SharedProject.xcconfig"

#include "SharedDebug.xcconfig"

GCC_PRECOMPILE_PREFIX_HEADER = NO

OTHER_LDFLAGS = $(OFXGENERIC_PROJECT_OTHER_LDFLAGS)
HEADER_SEARCH_PATHS = $(OFXGENERIC_PROJECT_HEADER_SEARCH_PATHS)

SKIP_INSTALL = YES

GCC_PREPROCESSOR_DEFINITIONS = $(OFXGENERIC_SHARED_DEBUG_GCC_PREPROCESSOR_DEFINITIONS)

