GCC_GENERATE_DEBUGGING_SYMBOLS = YES

COPY_PHASE_STRIP = YES
GCC_UNROLL_LOOPS = YES

DEAD_CODE_STRIPPING = YES
GCC_AUTO_VECTORIZATION = YES

GCC_DYNAMIC_NO_PIC = YES
GCC_OPTIMIZATION_LEVEL = s // 3

VALIDATE_PRODUCT = YES

STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = debugging

DEPLOYMENT_POSTPROCESSING = YES