PRODUCT_NAME = $(TARGET_NAME)

ARCHS[sdk=iphoneos*] = armv7
VALID_ARCHS = armv7
ARCHS[sdk=iphonesimulator*] = i386
ONLY_ACTIVE_ARCH[sdk=iphoneos*] = NO
IPHONEOS_DEPLOYMENT_TARGET = 5.1
SDKROOT = iphoneos

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

GCC_C_LANGUAGE_STANDARD = c99 // gnu99

GCC_SYMBOLS_PRIVATE_EXTERN = NO

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = NO
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_PROTOTYPE_CONVERSION = NO

CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES

OTHER_CPLUSPLUSFLAGS = -D__MACOSX_CORE__ -lpthread
ZERO_LINK = NO

GCC_THUMB_SUPPORT = NO

GCC_ENABLE_SSE3_EXTENSIONS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_MODEL_TUNING = G5
GCC_SYMBOLS_PRIVATE_EXTERN = NO

ALWAYS_SEARCH_USER_PATHS = NO

COMPRESS_PNG_FILES = NO

OFXGENERIC_PROJECT_GCC_PREPROCESSOR_DEFINITIONS =

OFXGENERIC_PROJECT_SPECIFIC_HEADER_SEARCH_PATHS = 

OFXGENERIC_PROJECT_OTHER_LDFLAGS = $(OF_CORE_LIBS) "-ObjC"
OFXGENERIC_PROJECT_HEADER_SEARCH_PATHS = $(OFXGENERIC_PATH)src $(OFXGENERIC_PATH)src/** $(OFXGENERIC_PATH)libs/ofxJSON/lib/include/** $(OFXGENERIC_PATH)libs/ofxJSON/src/**
//*/

//// overridable ////
GCC_PREPROCESSOR_DEFINITIONS = $(OFXGENERIC_PROJECT_GCC_PREPROCESSOR_DEFINITIONS)
OTHER_LDFLAGS = $(OFXGENERIC_PROJECT_OTHER_LDFLAGS)
HEADER_SEARCH_PATHS = $(OFXGENERIC_PROJECT_HEADER_SEARCH_PATHS)
